extends layout
block css
  link(rel='stylesheet', href='/stylesheets/messages.css')
block content
  - for (var x = 0; x < messages.length; x++)
    div.container
      - var content = messages[x].content != "" ? messages[x].content : "Private Message"
        h2.msg!= content
          p.date #{messages[x].date}
          - if (messages[x].name == "" && messages[x].email == "")
            .name(style="color:red") Unknown
          - else if (messages[x].email == "")
            .name= messages[x].name.toUpperCase()
          - else if (messages[x].name == "")
            .name= messages[x].email.toUpperCase()
          - else
            .name= messages[x].name.toUpperCase() + " - " + messages[x].email.toUpperCase()
